---
BasedOnStyle: Microsoft
SeparateDefinitionBlocks : Always
PackConstructorInitializers : Never
AlwaysBreakTemplateDeclarations : Yes
AllowShortLambdasOnASingleLine : Inline
PointerAlignment : Left
...
